html,
body {
    display:flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    
    /* 基本の文字サイズを設定 */
    /* font-weight: normal; */
    /* 通常の太さ */
}

#root {
    top: 100px;
    max-width: 100%;
    width: 100%;
    height: 95%;
    margin: 0;
    padding: 2rem;
    --main-text-color: #000000;
    background-color: rgba(255, 255, 255);
    color: var(--main-text-color);
    font-size: 1.25rem;
    /* #root内の文字サイズを設定 */
    --good-font-weight: 500;
    /* 太字 */
}



#edit {
    width: 40px;
    height: auto;
    padding-right: 20px;
    font-weight: var(--good-font-weight);
    /* 通常の太さ */
}

#start {
    width: 40px;
    height: auto;
    font-weight: var(--good-font-weight);
    /* 通常の太さ */
}

#goal {
    width: 40px;
    height: auto;
    font-weight: var(--good-font-weight);
    /* 通常の太さ */
}
