.station-container {
  display: flex;
  justify-content: space-between;
    color: var(--main-text-color);
    font-size: 1.25rem;
    /* ステーション内の文字サイズを設定 */
    font-weight: var(--good-font-weight);
    /* 通常の太さ */
}

.station-item {
  padding: 1rem;
  margin: 0 1rem;
  cursor: pointer;
  display: inline-block;
  color: var(--main-text-color);
  font-size: 1.25rem;
  /* ステーションアイテムとドロップエリア内の文字サイズを設定 */
  font-weight: bold;
  /* 太字 */
}
