.station-container {
  justify-content: space-between;
  color: var(--main-text-color);
  font-size: 1.25rem;
  /* ステーション内の文字サイズを設定 */
  font-weight: var(--good-font-weight);
  /* 通常の太さ */
}

.station-low {
  height: 90px;
  display: flex;
  color: var(--low-text-color);
  justify-content: space-between;
  align-items: center;
  /* 垂直方向に中央揃え */
}

.station-name {
  font-weight: var(--good-font-weight);
  display: flex;
  align-items: center;
  /* 垂直方向に中央揃え */
}

.station-item {
  padding: 1rem;
  display: flex;
  align-items: center;
  /* 垂直方向に中央揃え */
}
